[flake8]
# config
test-func-name-validator-regex = "test_.*"

suppress-dummy-args = true

literal-inline-quotes = "double"
literal-multiline-quotes = "double"
literal-docstring-quotes = "double"
literal-include-name = true

rst-roles = py:class, py:func, py:ref, py:attr

extend-exclude =
  alembic

# black
max-line-length = 88

# ignores
extend-ignore =
  # not required or shadowed by other plugins
  D I FI TC Q U101 S101 WPS400

  # black
  WPS317 WPS348 E501 C812 C816
  # pydantic-marshals & SQLAlchemy
  VNE003 WPS115
  # weird
  PIE803 C101 FNE007 FNE008 N812 ANN101 ANN102 WPS110 WPS111 WPS114 WPS407 VNE001 CM001
  # broken
  PIE798 WPS226 WPS354 WPS432 WPS473 WPS507
  U100  # fails to understand `raise NotImplementedError` and overloading
  WPS338  # bad method ordering conventions
  # __init__
  WPS410 WPS412
  WPS428  # fails to understand overloading
  WPS465  # fails to understand pipe-unions for types
  WPS601  # fails to same-name class and instance attributes (pydantic & sqlalchemy)
  # too many
  WPS201 WPS202 WPS204 WPS210 WPS211 WPS214 WPS217 WPS218 WPS220 WPS221 WPS230 WPS231 WPS234 WPS235

  # don't block features
  WPS100  # utils is a module name
  WPS237 WPS305  # f-strings are the best
  WPS306  # python 2.x is deprecated
  WPS347  # vague imports
  WPS352  # multiline loops
  WPS402  # noqa exists for a reason
  WPS420 WPS604  # pass is a thing
  WPS430  # nested functions
  WPS451  # positional-only arguments
  WPS501  # try-finally with no except
  WPS600  # subclassing lowercase builtins
  WPS602  # @staticmethod
  WPS605  # methods with no arguments

  # tastes differ
  WPS337  # multiline conditions

per-file-ignores =
  *test*: TN101 FNE005 SCS108 VNE001 WPS118 WPS202 WPS211 WPS317 WPS407 WPS425 WPS432 WPS440 WPS437 WPS441 WPS442 WPS507 WPS520 WPS609
  alembic/versions/*: WPS102 PEA001 NU001 SIM907
