[flake8]
# config
test-func-name-validator-regex = "test_.*"

suppress-dummy-args = true

literal-inline-quotes = "double"
literal-multiline-quotes = "double"
literal-docstring-quotes = "double"
literal-include-name = true

rst-roles = py:mod, py:func, py:data, py:const, py:class, py:meth, py:attr, py:exc, py:obj, py:ref

extend-exclude =
  alembic

# black
max-line-length = 88

# ignores
extend-ignore =
  # # not required or shadowed by other plugins
  D I FI TC Q U101 S101 WPS400
  # black
  WPS220 WPS317 WPS348 WPS352 E501 C812 C815 C816 C819 E203
  # mypy (for __init__)
  WPS410 WPS412
  # pydantic-marshals & SQLAlchemy
  VNE003 WPS115

  # # weird
  PIE803 C101 FNE007 FNE008 N812 ANN101 ANN102 WPS110 WPS111 WPS114 WPS338 WPS407 WPS414 VNE001 VNE002 CM001
  # too many
  WPS200 WPS201 WPS202 WPS204 WPS210 WPS211 WPS213 WPS214 WPS217 WPS218 WPS220 WPS221 WPS230 WPS231 WPS234 WPS235 WPS238

  # # broken
  PIE798 WPS226 WPS354 WPS432 WPS473 WPS507 FNE004
  # fails to understand `raise NotImplementedError` and overloading
  U100
  # fails to understand enums
  WPS115
  # fails to understand overloading
  WPS428
  # fails to understand pipe-unions
  WPS465
  # fails to same-name class and instance attributes (pydantic & sqlalchemy)
  WPS601

  # # don't block features
  # utils is a module name
  WPS100
  # f-strings are the best
  WPS237 WPS305
  # python 2.x is deprecated
  WPS306
  # multiline
  WPS320 WPS337 WPS352
  # noqa exists for a reason
  WPS402
  # pass is a thing
  WPS420 WPS604
  # nested functions
  WPS430
  # nested classes
  WPS431
  # positional-only arguments
  WPS451
  # try-finally with no except
  WPS501
  # subclassing lowercase builtins
  WPS600
  # @staticmethod
  WPS602
  # methods with no arguments
  WPS605
  # vague imports
  WPS347

per-file-ignores =
  *test*: TN101 FNE005 SCS108 S311 VNE001 WPS118 WPS202 WPS211 WPS317 WPS407 WPS425 WPS432 WPS437 WPS440 WPS441 WPS442 WPS507 WPS520 WPS609
  alembic/versions/*: WPS102 PEA001 NU001 SIM907
